<div *ngFor="let team of myTeams">
  {{LoadUserTeamsByTeamId(team.id)}}
  <div  class="card mt-3 p-5">
    <div class="card border-success mb-3">
      <div class="card-header bg-transparent border-success">Header</div>
      <div class="card-body text-success">
        <div class="d-flex justify-content-around">
          <div *ngFor="let userTeam of filteredUserTeams" class="card border-dark " style="max-width: 18rem;">
            {{LoadUserByUserTeam(userTeam)}}
            <div class="card-header">{{filteredUser.name}}</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-transparent border-success">Footer</div>
    </div>
  </div>
</div>

