.child{
    background-color: skyblue;
    margin: 10px;
    padding: 1px ;
}
.child:nth-child(odd){
    background-color: lightcoral;
}
.parent{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: start;
    justify-items: start;
}

.child:nth-child(2)
{
    background-color: lightgoldenrodyellow;
    grid-row: 2/3;

}
/* .box{
    flex-basis: 44px;
    background-color: saddlebrown;
    flex-grow: 1;
    flex-shrink: 1;
}
.box1{
    flex-grow: 1;
    background-color: sandybrown;
    flex-shrink: 3;
} */