<div class="body card container" style="padding: 3%; font-size: 20px; margin-top: 15px">
  <h4 style="margin: 0 auto; color:rgb(30, 30, 30)" class="mb-4">Add Fine</h4>
  <form class="form-group" style="width: 50%; margin: 0 auto;" [formGroup]="fineEntryForm" (ngSubmit)="onSubmit()">
    <label for="teamName">Select a Team :</label>
    <select id="teamName" (change)="onSelect()" class="form-control mb-2 form-select" formControlName="teamId">
      <option value="">Select a team...</option>
      <option *ngFor="let team of myTeams" [ngValue]="team.id">
        {{ team.name }}
      </option>
    </select>

    <label for="userName">Name :</label>
    <select class="form-control mb-2 form-select" id="userName" formControlName="userId">
      <option value="">Select a name...</option>
      <option *ngFor="let user of usersOfmySelectedTeam" [ngValue]="user.id">
        {{ user.name }}
      </option>
    </select>

    <label for="fineType">Fine Type :</label>
    <select class="form-control mb-2 form-select" id="fineType" formControlName="fineType">
      <option value="">Select fine type...</option>
      <option *ngFor="let fineType of keys(fineTypes)" [ngValue]="fineType">
        {{ fineTypes[fineType] }}
      </option>
    </select>

    <label class="my-1 mr-2" for="fineAmount">Fine Amount :</label>
    <input formControlName="fineAmount" type="number" class="form-control mb-2" id="fineAmount"
      placeholder="Fine amount" />

    <label class="my-1 mr-2" for="date">Date Time :</label>
    <input formControlName="date" type="date" class="form-control mb-2" id="date" />

    <label class="my-1 mr-2" for="note">Note :</label>
    <textarea formControlName="note" type="text" class="form-control mb-2" id="note"
      placeholder="write a note here..."></textarea>

    <div style="margin-top: 30px">
      <button type="submit" class="btn btn-primary my-1" style="background-color: rgb(42, 193, 140);">
        Submit
      </button>
    </div>
  </form>
</div>