// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

// * {
//     padding: 0;
//     margin: 0;
//     list-style: none;
//     text-decoration: none;
// }

// body {
//     font-family: 'Roboto', sans-serif;
// }

// .header {
//     grid-area: header;
//     height: 80%;
//     width: 100%;
//     background-color: rgb(42, 193, 140);;
//     color: white;
//     font-size: 30px;
//     padding-left: 33px;
//     /* transform: translate(27%); */
// }

// .header p{
//     padding-left: 33px;
//     /* transform: translate(27%); */
// }

// .menu {
//     grid-area: menu;
//     height: 100vw;
//     background-color: rgb(42, 193, 140);
//     margin-left: -50px;
// }

// .body {
//     grid-area: body;
// }

// .container {
//     display: grid;
//     grid-template-areas: 'menu header header header header'
//         'menu body body body body'
//         'menu body body body body'
//         'menu body body body body';
//     grid-gap: 2px;
//     background-color: white;
//     padding: 10px;
//     grid-template-rows: 8% 80%;
// }

// .container>div {
//     /* text-align: center; */
//     padding: 20px 0;
// }

// .menu ul a {
//     /* text-align: center; */
//     display: block;
//     /* height: 100%;
//     width: 100%; */
//     line-height: 65px;
//     font-size: 20px;
//     color: white;
//     padding-left: 30%;
//     box-sizing: border-box;
//     border-bottom: 1px solid white; 
//     border-top: 1px solid white;
//     transition: .4s;
//     cursor: pointer;
// }

// ul li:hover a {
//     padding-left: 20%;
// }

// .menu ul a i {
//     margin-right: 8%;
// }

// .avatar {
//     vertical-align: middle;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//   }

// li img{
//     /* display: block; */
//     margin-left: 20%;
//     margin-bottom: 20%;
// }

// li span{
//     display: inline-block;
//     transform: translate(10%,-8%);
//     font-size: 20px;
//     color: white;
// }

// .card{
//     margin-left: 10px;
// }

// #inlineFormCustomSelectPref{
//     margin-left: 10px;
// }
