<div class="card">
  <div class="Left row align-content-center text-center">
    <h1 class="h2" style="color: white">New Here?</h1>
    <br />
    <br />
    <br />
    <p class="h5" style="color: white">
      Sign up and Discover a great amount of opportunities!
    </p>
    <br />
    <br />
    <br />
    <div class="text-center">
      <button routerLink="/signup" type="submit" class="btn btn-1 btn-primary text-center">
        Sign Up
      </button>
    </div>
  </div>
  <div class="right">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
          <!-- Form -->
          <form class="form-example" [formGroup]="loginForm" (ngSubmit)="login()">
            <h3>Login to Your Account</h3>
            <br>
            <!-- Input fields -->
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" formControlName="email" class="form-control username" id="email"
                placeholder="Email..." [ngClass]="{'is-invalid': submitted && loginFormControls['email'].errors}" />
              <div *ngIf="(submitted && loginFormControls['email'].errors)">
                <div class="text-danger" *ngIf="(loginFormControls['email'].errors['required'])">
                  Email is required
                </div>
                <div class="text-danger" *ngIf="(loginFormControls['email'].errors['email'])">
                  Email is invalid
                </div>
                <div class="text-danger" *ngIf="(loginFormControls['email'].errors['maxlength'])">
                  Email is invalid
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input formControlName="password" type="password" class="form-control password" id="password"
                placeholder="Password..." name="password"
                [ngClass]="{'is-invalid': submitted && loginFormControls['password'].errors}" />
              <div *ngIf="(submitted && loginFormControls['password'].errors)">
                <div class="text-danger" *ngIf="(loginFormControls['password'].errors['required'])">
                  Password is required
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-2 btn-primary btn-customize">
              Login
            </button>
            <!-- End input fields -->
          </form>
          <!-- Form end -->
        </div>
      </div>
    </div>
  </div>
</div>
<form action=""></form>