<div *ngFor="let team of myTeams">
  {{LoadUserTeamsByTeamId(team.id)}}
  <div class="card mt-3 p-5">
    <div class="card border-success mb-3">
      <div class="card-header bg-transparent border-success">
        <h4>{{team.name}}</h4>
      </div>
      <div class="card-body text-success container">
        <div class="row justify-content-around">
          <div *ngFor="let userTeam of filteredUserTeams" class="card border-dark col-md-4 mb-3" style="max-width: 18rem;">
            {{LoadUserByUserTeam(userTeam)}}
            <div class="card-header">
              <h5>{{filteredUser.name}}</h5>
              <h6>{{filteredUser.designation}}</h6>
            </div>
            <div class="card-body text-dark">
              <h5 class="card-title">Fine Info:</h5>
              <p class="card-text">Total Fine: {{calculateTotalFineByUserTeamId(userTeam.id)}}</p>
              <p class="card-text">Total Transaction: {{calculateTotalTransactionByUserTeamId(userTeam.id)}}</p>
              <p class="card-text">Remaining Fine:
                {{calculateTotalFineByUserTeamId(userTeam.id)-calculateTotalTransactionByUserTeamId(userTeam.id)}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-transparent border-success">
        <h5>Team Info: </h5>
        <p>Total Fine: {{calculateTotalFineAmountByTeamId(team.id)}}</p>
        <p>Total Transaction: {{calculateTotalTransactionAmountByTeamId(team.id)}}</p>
        <p>Total Reamaining:
          {{calculateTotalFineAmountByTeamId(team.id)-calculateTotalTransactionAmountByTeamId(team.id)}}</p>
      </div>
    </div>
  </div>
</div>