<div class="container mt-5">
  <ngx-datatable
    class="material p-4"
    [rows]="rows"
    [columns]="columns"
    [headerHeight]="50"
    [rowHeight]="50"
    [footerHeight]="50"
    [scrollbarV]="true"
    [scrollbarH]="true"
    [columnMode]="'force'"
  >
    <ngx-datatable-column name="Name" prop="name"> </ngx-datatable-column>
    <ngx-datatable-column name="Actions" prop="name">
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="edit(value)"
        >
          Success {{ rowIndex }}
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="delete(value)"
        >
          Danger
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
