<div class="card">
  <div class="Left row align-content-center text-center">
    <h3 class="h3" style="color: white">Already a Memeber?</h3>
    <br />
    <br />
    <br />
    <p class="h5" style="color: white">Login to access</p>
    <br />
    <br />
    <br />
    <div class="text-center">
      <button type="submit" class="btn btn-1 btn-primary text-center">
        <a routerLink="/login">Login</a>
      </button>
    </div>
  </div>
  <div class="right" style="min-height: 00px;">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
          <!-- Form -->
          <form class="form-example" [formGroup]="signupForm" (ngSubmit)="signUp()">
            <h3>Create a New Account</h3>
            <br>
            <!-- Input fields -->
            <div class="form-group">
              <label for="name">Name:</label>
              <input formControlName="name" type="name" class="form-control username" id="name"
                placeholder="Name..." [ngClass]="{'is-invalid': submitted && signupFormControls['name'].errors}" />
              <div *ngIf="(submitted && signupFormControls['name'].errors)">
                <div class="text-danger" *ngIf="(signupFormControls['name'].errors['required'])">
                  Name is required
                </div>
                <div class="text-danger" *ngIf="(signupFormControls['name'].errors['maxlength'])">
                  Name is too long
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input formControlName="email" type="email" class="form-control username" id="email"
                placeholder="Email..." [ngClass]="{'is-invalid': submitted && signupFormControls['email'].errors}" />
              <div *ngIf="(submitted && signupFormControls['email'].errors)">
                <div class="text-danger" *ngIf="(signupFormControls['email'].errors['required'])">
                  Email is required
                </div>
                <div class="text-danger" *ngIf="(signupFormControls['email'].errors['email'])">
                  Invalid Email
                </div>
                <div class="text-danger" *ngIf="(signupFormControls['email'].errors['maxlength'])">
                  Invalid Email
                </div>
                <div class="text-danger" *ngIf="(signupFormControls['email'].errors['duplicate'])">
                  Email already used
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input required formControlName="password" type="password" class="form-control password" id="password"
                placeholder="Password..."
                [ngClass]="{'is-invalid': submitted && signupFormControls['password'].errors}" />
              <div *ngIf="(submitted && signupFormControls['password'].errors)">
                <div class="text-danger" *ngIf="(signupFormControls['password'].errors['required'])">
                  Password is required
                </div>
                <div class="text-danger" *ngIf="(signupFormControls['password'].errors['minlength'])">
                  Password must be at least 6 characters
                </div>
                <div class="text-danger" *ngIf="(signupFormControls['password'].errors['maxlength'])">
                  Password must not exceed 30 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password:</label>
              <input formControlName="confirmPassword" type="password" class="form-control password"
                id="confirmPassword" placeholder="Confirm password..."
                [ngClass]="{'is-invalid': submitted && signupFormControls['confirmPassword'].errors}" />
              <div *ngIf="(submitted && signupFormControls['confirmPassword'].errors)">
                <div class="text-danger" *ngIf="(signupFormControls['confirmPassword'].errors['required'])">
                  Confirm password is required
                </div>
                <div class="text-danger" *ngIf="(signupFormControls['confirmPassword'].errors['matching'])">
                  Confirm Password does not match
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-2 btn-primary btn-customize">
              Sign Up
            </button>
            <!-- End input fields -->
          </form>
          <!-- Form end -->
        </div>
      </div>
    </div>
  </div>
</div>