<div class="body card container" style="padding: 3%; font-size: 20px; margin-top: 15px">
  <h1 style="margin: 0 auto; color:rgb(120, 120, 120)" class="mb-4">Add Fine</h1>
  <form class="form-group" style="width: 50%; margin: 0 auto;" [formGroup]="fineEntryForm" (ngSubmit)="onSubmit()">
    <label for="teamName">Select a Team :</label>
    <select id="teamName" (change)="onSelect()" class="form-control mb-3" formControlName="teamId">
      <option *ngFor="let team of myTeams" [ngValue]="team.id">
        {{ team.name }}
      </option>
    </select>

    <label for="userName">Name :</label>
    <select class="form-control mb-3" id="userName" formControlName="userId">
      <option *ngFor="let user of usersOfmySelectedTeam" [ngValue]="user.id">
        {{ user.name }} 
      </option>
    </select>

    <label for="fineType">Fine Type :</label>
    <select class="form-control mb-3" id="fineType" formControlName="fineType">
      <option *ngFor="let fineType of keys(fineTypes)" [ngValue]="fineType">
        {{ fineTypes[fineType] }} 
      </option>
    </select>

    <label class="my-1 mr-2" for="fineAmount" 
      >Fine Amount :</label
    >
    <input
      formControlName="fineAmount"
      type="number"
      class="form-control mb-3"
      id="fineAmount"
      placeholder="Fine Amount"
    />

    <label class="my-1 mr-2" for="dateTime"
      >Date Time :</label
    >
    <input
      formControlName="dateTime"
      type="date"
      class="form-control mb-3"
      id="dateTime"
    />

    <label class="my-1 mr-2" for="note"
      >Note :</label
    >
    <textarea
      formControlName="note"
      type="text"
      class="form-control mb-3"
      id="note"
      placeholder="write a note here..."
    ></textarea>

    <div style="margin-top: 30px">
      <button
        type="submit"
        class="btn btn-primary my-1"
        style="background-color: rgb(42, 193, 140);"
      >
        Submit
      </button>
    </div>
  </form>
</div>


