<div class="body card" style="padding: 3%; font-size: 20px; margin-top: 15px">
  <form class="form-group">
    <label for="name">Name :</label>
    <select class="form-control" id="name">
      <option selected>Choose...</option>
      <option value="1">Imtiaz</option>
      <option value="2">Zahid vai</option>
      <option value="3">Mehedi</option>
    </select>

    <label for="inlineFormCustomSelectPref">Fine Type : </label>
    <select class="form-control" id="inlineFormCustomSelectPref">
      <option selected>Choose...</option>
      <option value="1">Late in Scrum</option>
      <option value="2">Late in Meeting</option>
      <option value="3">Jemon khusi temon fine</option>
    </select>

    <label class="my-1 mr-2" for="inlineFormCustomSelectPref"
      >Date Time :</label
    >
    <input
      type="date"
      class="form-control"
      id="formGroupExampleInput"
      placeholder="Example input"
    />

    <label class="my-1 mr-2" for="inlineFormCustomSelectPref"
      >Fine Amount :</label
    >
    <input
      type="number"
      class="form-control"
      id="formGroupExampleInput"
      placeholder="Fine Amount"
    />
    <div style="margin-top: 30px">
      <button
        type="submit"
        class="btn btn-primary my-1"
        style="background-color: rgb(42, 193, 140);"
      >
        Submit
      </button>
    </div>
  </form>
</div>
